<tr>
  <td style="text-align: center;">{{ item.id }}</td>
  <td>{{ item.name }}</td>
  <td style="text-align: center;">{{ item.number }}</td>
  <td style="text-align: center;">{{ item.country_code }}</td>
  <td style="text-align: center;">{{ item.documents }}</td>
  <td style="text-align: center;">{{ item.wayra_investment }}</td>
  <td style="text-align: center;">{{ item.getTotalRights }}</td>
  <td>{{ item.description }}</td>
  <td style="text-align: center;">{{ item.getTotalFounders }}</td>
  <td style="text-align: center;">{{ item.getTotalInvestors }}</td>
  <td style="text-align: center;">{{ item.getTotalRounds }}</td>
</tr>
