{% load static %}

<table id = "display-tables" class="display compact" style="width:100%">
  <caption>
    List of all founders. Hold shift and click on rows to sort by multiple rows. Click on name to view further details.
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Total Companies Founded</th>
      <th>Total Companies Invested</th>
    </tr>
  </thead>
  <tbody>
    <!-- {% include 'partials/tempFoundersTable.html' %} -->
   {% for item in data %}
     {% include 'partials/founders_table_row.html' with item=item %}
   {% endfor %}
  </tbody>
</table>
