{% load static %}

<table id = "display-tables" class="display compact">
  <caption>
    List of all founders. Hold shift and click on rows to sort by multiple rows. Click on name to view further details.
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Total Companies Founded</th>
    </tr>
  </thead>
  <tbody>
    {% include 'partials/tempFoundersTable.html' %}
    <!--
   {% for item in data %}
     {% include 'partials/founders_table_row.html' with item=iten %}
   {% endfor %}
   -->
  </tbody>
</table>
