{% load static %}

<table id="display-tables" class="display compact" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Total Companies Founded</th>
      <th>Amount investment</th>
    </tr>
  </thead>
  <tbody>
    {% for investor in data %}
      <tr>
        <td>{{ investor.id }}</td>
        <td>{{ investor.name }}</td>
        <td>{{ investor.founding_company.count }}</td>
        <td> 
            {% for investment in investor.investing_set.all %}
                {% if investment.company == company %}
                    {{ investment.amount }}
                {% endif %}
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
