{% load static %}

<tr>
   <td>1</td>
   <td><a href="#" target="_blank">Apple</a></td>
   <td>20392</td>
   <td>USA</td>
   <td><a href="#" target="_blank">Link</a></td>
   <td>Board Member</td>
   <td>1</td>
   <td>200</td>
</tr>
<tr>
  <td>2</td>
  <td><a href="#" target="_blank">Google</a></td>
  <td>19831</td>
  <td>USA</td>
  <td><a href="#" target="_blank">Link</a></td>
  <td>Board Member</td>
  <td>3</td>
  <td>400</td>
</tr>
<tr>
  <td>3</td>
  <td><a href="#" target="_blank">Microsoft</a></td>
  <td>45213</td>
  <td>USA</td>
  <td><a href="#" target="_blank">Link</a></td>
  <td>Board Member</td>
  <td>2</td>
  <td>183</td>
</tr>
<tr>
  <td>4</td>
  <td><a href="#" target="_blank">Amazon</a></td>
  <td>74532</td>
  <td>USA</td>
  <td><a href="#" target="_blank">Link</a></td>
  <td>Board Member</td>
  <td>1</td>
  <td>320</td>
</tr>
