{% load static %}

<table id = "display-tables" class="display compact" style="width:100%">
  <caption>
    List of all users. Hold shift and click on rows to sort by multiple rows. Click on name to view further details.
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Username</th>
      <th></th> <!-- Delete User -->
    </tr>
  </thead>
  <tbody>
    <!-- {% include 'partials/tempEntityTable.html' %} -->

   {% for item in data %}
     {% include 'partials/users_table_row.html' with item=item %}
   {% endfor %}

  </tbody>
</table>
