@font-face {
    font-family: 'TeleBold';
    src: url('../fonts/TelefonicaWeb-Bold.ttf');
}

@font-face {
    font-family: 'TeleRegular';
    src: url('../fonts/TelefonicaWeb-Regular.ttf');
}

@font-face {
    font-family: 'TeleLight';
    src: url('../fonts/TelefonicaWeb-Light.ttf');
}
@font-face {
    font-family: 'TeleExtraLight';
    src: url('../fonts/TelefonicaWeb-ExtraLight.ttf');
}

body{
    text-align: center;
}

h1{
    font-size: 5rem;
    font-family: 'TeleBold';
    padding-bottom: 1rem;
}

h2{
    font-size: 2.25rem;
    font-family: 'TeleRegular';
    padding-bottom: 0.75rem;
}

p{
    font-size: 1.25rem;
    font-family: 'TeleLight';
    
}
.main{
    padding: 15% 0 15%;
}

