@font-face {
    font-family: 'TeleBold';
    src: url('../fonts/TelefonicaWeb-Bold.ttf');
}

@font-face {
    font-family: 'TeleRegular';
    src: url('../fonts/TelefonicaWeb-Regular.ttf');
}

@font-face {
    font-family: 'TeleLight';
    src: url('../fonts/TelefonicaWeb-Light.ttf');
}
@font-face {
    font-family: 'TeleExtraLight';
    src: url('../fonts/TelefonicaWeb-ExtraLight.ttf');
}

body {
    background-color: #f7f9fc;
  }

.row {
    background-color: #f7f9fc;
}


.header-nav {
    margin-left: 25%; 

}

.page-header {
    margin-top: 2%;
    margin-left: 25px;
    font-family: TeleBold, Arial, sans-serif;
    font-size: 34px;   
}

.button-group {
    margin-left: 25px;
    padding-top: 22px;
    font-family: TeleRegular, Arial, sans-serif;
    /* display: flex; */
}
    
.button {
    font-family: TeleLight, Arial, sans-serif;
    color: #282828;
    background-color: #f7f9fc;
    border: none;
    padding: 15px 30px; 
    font-size: 16px; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 650; 
    margin-right: 10px;
}
  
.button:hover {
    background-color: hsl(210, 6%, 88%);
}

.active-button {
    box-shadow: 1.5px 0px 1.5px 0px rgba(0, 0, 0, 0.096);

    background-color: #ffffff;
}

.card-container {
    background-color: #fff;
    padding-top: 3%;
    display: flex;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 1px rgba(0, 0, 0, 0.009);
}
 
.card {
    border: 0;
    padding: 20px;
    flex: 1;
    font-size: 14px;
}

.card-about {
    margin-left: 15%;
}

  
.card-news {
    margin-right: 15%;
}

.card-h2 {
    font-size: 20px;
}

.founder-investor-buttons {
    flex-direction: column;
    margin-top: 10px;
  }
  
.info-button {
    background-color: rgb(255, 255, 255);
    color: #007bff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: none;
    padding: 10px 20px;
    font-family: TeleRegular, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
}

#founderButton {
    margin-right: 10px;
}

.info-button:hover {
    background-color: #f7f9fc;
}

.button-text {
    color: #183444;
    font-size: 16px;
}
  
.button-number {
    color: #146aff;
    font-size: 20px;
    margin-left: 5px;
}
  
.arrow {
    color: lightgrey;
    margin-left: 5px;
}
  
.info-button:hover .arrow {
    color: #183444;
}