@font-face {
    font-family: 'TeleBold';
    src: url('../fonts/TelefonicaWeb-Bold.ttf');
}

@font-face {
    font-family: 'TeleRegular';
    src: url('../fonts/TelefonicaWeb-Regular.ttf');
}

@font-face {
    font-family: 'TeleLight';
    src: url('../fonts/TelefonicaWeb-Light.ttf');
}
@font-face {
    font-family: 'TeleExtraLight';
    src: url('../fonts/TelefonicaWeb-ExtraLight.ttf');
}

.top{
    background-color: #eceaf6;
}

.middle{
    background-color: #d4cfe4;
    height: 100px;
}

.bottom{
    background-color: #7a758d;
    height: 100px;
}

.logo{
    padding: 10px;
    width: 15rem;
}