@font-face {
    font-family: 'TeleBold';
    src: url('../fonts/TelefonicaWeb-Bold.ttf');
}

@font-face {
    font-family: 'TeleRegular';
    src: url('../fonts/TelefonicaWeb-Regular.ttf');
}

@font-face {
    font-family: 'TeleLight';
    src: url('../fonts/TelefonicaWeb-Light.ttf');
}
@font-face {
    font-family: 'TeleExtraLight';
    src: url('../fonts/TelefonicaWeb-ExtraLight.ttf');
}

h1{
    font-size: 5rem;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'TeleBold';
    color: white;
}

h3{
    font-size: 2rem;
    margin: 0;
    padding-bottom: 70px;
    font-family: 'TeleRegular';
    color: white;
}

.top{
    background-color: #eceaf6;
}

.middle{
    background-color: #d4cfe4;
    text-align: center;
    
}

.bottom{
    background-color: black;
    height: 100px;
}

.logo{
    padding: 10px;
    width: 15rem;
}

.login{
    margin-bottom: 70px;
    font-size: 3rem;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'TeleLight';
    color: white;
}
