{% extends 'base_content.html' %}

{% block title %}
{# <title> {{ request.user.full_name }}'s Dashboard</title> #}
<title>{{ company.name }} - Company , Funding, Investing & Financials </title>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ company.name }}</h1>
      <p>{{ company.number }} {{ company.country_code }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Overview</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h4>Founders</h4>
              <ul>
              {% for founder in company.founders.all %}
                <li>{{ founder.name }}</li>
              {% endfor %}
              </ul>
            </div>
            <div class="col-md-6">
              <h4>Investors</h4>
              <ul>
              {% for investor in company.investors.all %}
                <li>{{ investor.name }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4>Wayra Rights</h4>
              <ul>
              {% for right in company.wayra_right.all %}
                <li>{{ right.name }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Details</h3>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> {{ company.name }}</p>
          <p><strong>Country Code:</strong> {{ company.country_code }}</p>
          <p><strong>Number:</strong> {{ company.number }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
