{% extends "base_content.html" %}
{% load static %}

{% block title %}
<title>{{ company.name }} - Company , Funding, Investing & Financials </title>
{% endblock %}

{% block content %}
<script>
    function redirectTo(buttonName) {
      window.location.href = '/companies/' + '{{ company.name }}' + '/' + buttonName;
    }
    
</script>
<link rel="stylesheet" href="{% static 'css/companyDetails.css' %}">
<div class="container-fluid">
  <div class="row">
    <div class="header-nav">
      <h1 class="page-header search-header">{{ company.name }}</h1>
        <nav class="nav-bar">
          <div class="button-group">
            <button class="button active-button" onclick="redirectTo('')">Summary</button>
            <button class="button" onclick="redirectTo('founders')">Founders</button>
            <button class="button" onclick="redirectTo('investors')">Investors</button>
            <button class="button" onclick="redirectTo('rounds')">Rounds</button>
            <button class="button" onclick="redirectTo('rights')">Rights</button>

          </div>
        </nav>
    </div>
  </div>    
  <div class="row">
    <div class="card-container">
      <div class="card card-about">
        <h2 class="card-h2">About</h2>
          <p>{{ company.description }}</p>
            <div class="about-card">
              <p><strong>Country Code:</strong> {{ company.country_code }}</p>
              <p><strong>Number:</strong> {{ company.number }}</p>
            </div>
      </div>
        <div class="card card-highlights">
          <h2 class="card-h2">Highlights</h2>
          <p>Look for founders, investors , rounds and rights that {{ company.name }} holds </p>
          {% comment %} id founderButton does not actually refer to founders but it means that its the top {% endcomment %}
          <div class="highlight-buttons">
            <button class="info-button" onclick="redirectTo('founders')" id="founderButton">
              <span class="button-text">Founders</span>
              <span class="button-number">{{ company.founders.count }}</span>
              <span class="arrow">&gt;</span>
            </button>
            <button class="info-button" onclick="redirectTo('investors')" id="founderButton">
              <span class="button-text">Investors</span>
              <span class="button-number">{{ company.investors.count }}</span>
              <span class="arrow">&gt;</span>
            </button>
          </div>
          <div class="highlight-buttons">
            <button class="info-button" onclick="redirectTo('rounds')" id="founderButton">
              <span class="button-text">Rounds &nbsp&nbsp</span>
              <span class="button-number">{{ company.rounds.count }}</span>
              <span class="arrow">&gt;</span>
            </button>
            <button class="info-button" onclick="redirectTo('rights')" id="founderButton">
              <span class="button-text">Rights&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
              <span class="button-number">{{ company.wayra_right.count }}</span>
              <span class="arrow">&gt;</span>
            </button>
          </div>
        </div>
        {% comment %} <div class="card card-news">
          <div>
            <h2 class="card-h2">Wayra Rights</h2>
              <ul>
                {% for right in company.wayra_right.all %}
                  <li>{{ right.name }}</li>
                {% endfor %}
              </ul>
          </div>
        </div> {% endcomment %}
      </div>
  </div>
</div>
{% endblock %}


  