{% extends "base_content.html" %}
{% load static %}

{% block title %}
<title>{{ entity.name }} - Entity , Funding, Investing & Financials </title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/entityDetails.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="header-nav">
            <h1 class="page-header search-header">{{ entity.name }}</h1>
        </div>
    </div>    
    <div class="row">
      <div class="card-container">
        <div class="card card-about">
          <h2 class="card-h2">Investing Companies</h2>
          <div class="detailed-table">
            <table>
              <thead>
                <tr>
                  <th>Country Code</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for company in entity.invested_company.all %}
                  <tr>
                    <td>{{ company.country_code }}</td>
                    <td><a href="{% url 'company_view' company.name %}">{{ company.name }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card card-news">
          <h2 class="card-h2">Founding Companies</h2>
          <div class="detailed-table">
            <table>
              <thead>
                <tr>
                  <th>Country Code</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for company in entity.founding_company.all %}
                  <tr>
                    <td>{{ company.country_code }}</td>
                    <td><a href="{% url 'company_view' company.name %}">{{ company.name }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
