{% extends "base_content.html" %}
{% load static %}

{% block title %}
<title>{{ entity.name }} - Entity , Funding, Investing & Financials </title>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.jqueryui.min.css">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/entityDetails.css' %}">
<div class="container-fluid">
  <div class="row">
    <div class="header-nav">
      <h1 class="page-header search-header">{{ entity.name }}</h1>
    </div>
  </div>    
  <div class="row">
    <div class="card">
      {% comment %} <div class="card card-about">
        <h2 class="card-h2">About</h2>
          <p>Information about the company goes here</p>
      </div> {% endcomment %}
    </div>
      <div class="card-container">
        <div class="card card-about">
          <h2 class="card-h2">Investing Companies</h2>
            <div class="detailed-table">
              <table id="investing-companies">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Country Code</th>
                    <th>Name</th>
                    <th>Amount invested</th>
                  </tr>
                </thead>
                <tbody>
                  {% for company in entity.invested_company.all %}
                    <tr>
                      <td> {{ company.id }} </td>
                      <td>{{ company.country_code }}</td>
                      <td><a href="{% url 'company_view' company.name %}">{{ company.name }}</a></td>
                      <td>
                        {% for investment in entity.investing_set.all %}
                          {% if investment.company == company %}
                              {{ investment.amount }}
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        <div class="card card-news">
          <h2 class="card-h2">Founding Companies</h2>
          <div class="detailed-table">
            <table id="founding-companies">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Country Code</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for company in entity.founding_company.all %}
                  <tr>
                    <td> {{ company.id }} </td>
                    <td>{{ company.country_code }}</td>
                    <td><a href="{% url 'company_view' company.name %}">{{ company.name }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% include 'partials/tables_javascript.html' %}

<script>
    let investingCompaniesTable = $('#investing-companies').DataTable({
      "scrollX": true,
      "autoWidth": false
    });
    let foundingCompaniesTable = $('#founding-companies').DataTable({
      "scrollX": true,
      "autoWidth": false
    });
</script>

{% endblock %}
