{% extends "base_content.html" %}
{% load static %}

{% block title %}
<title>{{ company.name }} - Company , Funding, Investing & Financials </title>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.jqueryui.min.css">

{% endblock %}

{% block content %}
<script>
    function redirectTo(buttonName) {
      window.location.href = '/companies/' + '{{ company.name }}' + '/' + buttonName;
    }

</script>
{% comment %} re tab everything {% endcomment %}
<link rel="stylesheet" href="{% static 'css/founders_and_investors.css' %}">
<div class="container-fluid">
  <div class="row">
    <div class="header-nav">
      <h1 class="page-header search-header">{{ company.name }}</h1>
        <nav class="nav-bar">
            <div class="button-group">
              <button class="button" onclick="redirectTo('')">Summary</button>
              <button class="button" onclick="redirectTo('founders')">Founders</button>
              <button class="button active-button" onclick="redirectTo('investors')">Investors</button>
              <button class="button" onclick="redirectTo('rounds')">Rounds</button>
              <button class="button" onclick="redirectTo('rights')">Rights</button>
            </div>
        </nav>
    </div>
  </div>
    <div class="row">
      <div class="card-container">
        <div class="detailed-table">
          {% include 'partials/companies_investors_table.html' with data=company.investors.all admin=admin company=company%}
        <div>
      </div>
  </div>
</div>
{% include 'partials/tables_javascript.html' %}
{% endblock %}
