{% extends 'base_content.html' %}
{% load static %}

{% block title %}
<title>Log in</title>
{% endblock %}

{% block content %}
<script>
  function redirectTo(buttonName) {
    window.location.href = '/' + buttonName;
  }
  
</script>
<link rel="stylesheet" href="{% static 'css/loginPage.css' %}">
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
      <div class="login-container text-center">
        <img src="{% static 'Wayra-black-on-white.png' %}" alt="Wayra Logo", class="logo">
        <div class="card-body ">
          <p class="forgot-password-text">Passowrd reset complete. Your password has been set. You may go ahead and log in now</p>
          <form method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_forms.html' with form=form %}
            <button class="btn btn-primary btn-block mt-4" onclick="redirectTo('login')">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
